@font-face {
	font-family: SuisseIntl;
	font-weight: 400;
	font-style: normal;
	src: url(/font/SuisseIntl-Regular.woff2) format("woff2"), url(/font/SuisseIntl-Regular.woff) format("woff")
}

@font-face {
	font-family: SuisseIntl;
	font-weight: 500;
	font-style: normal;
	src: url(/font/SuisseIntl-Book.woff2) format("woff2"), url(/font/SuisseIntl-Book.woff) format("woff")
}

@font-face {
	font-family: SuisseIntl;
	font-weight: 600;
	font-style: normal;
	src: url(/font/SuisseIntl-Semibold.woff2) format("woff2"), url(/font/SuisseIntl-Semibold.woff) format("woff")
}

@font-face {
	font-family: SuisseIntlMono;
	font-weight: 400;
	font-style: normal;
	src: url(/font/SuisseIntlMono-Regular.woff2) format("woff2"), url(/font/SuisseIntlMono-Regular.woff) format("woff")
}

@font-face {
	font-family: SuisseIntlMono;
	font-weight: 700;
	font-style: normal;
	src: url(/font/SuisseIntlMono-Bold.woff2) format("woff2"), url(/font/SuisseIntlMono-Bold.woff) format("woff")
}

html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	font: inherit;
	font-family: inherit;
	font-size: 100%
	
}

li,
ul {
	list-style: none
}

button,
input,
select,
textarea {
	display: block;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	outline: none;
	border: none;
	background: none;
	color: inherit
}

button:focus,
input:focus,
textarea:focus {
	outline: none
}

button:hover,
input[type=submit]:hover {
	cursor: pointer
}

input::-ms-clear {
	display: none
}

textarea {
	overflow: auto
}

a {
	color: inherit;
	text-decoration: none
}

a,
img,
svg,
video {
	display: block
}

img,
video {
	width: 100%;
	height: auto
}

iframe,
svg {
	width: 100%;
	height: 100%
}

iframe {
	position: absolute;
	top: 0;
	left: 0
}

#issue-ej-w {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	text-align: center;
	background: #1e0f21
}

#issue-ej {
	position: absolute;
	top: 47%;
	left: 0;
	width: 100%
}

#issue-ub-w {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	text-align: center;
	background: #1e0f21
}

#issue-ub {
	position: absolute;
	top: 48%;
	left: 0;
	width: 100%
}

.old-browser #issue-ub-w {
	display: block
}

.by,
.by-wrap {
	position: absolute
}

.by-rotate {
	left: 0;
	transform-origin: 0 100%;
	transform: rotate(90deg)
}

.by-name {
	float: left;
	letter-spacing: .012em
}

.by-name span {
	color: #eab1d9
}

.by-img {
	float: left;
	width: auto;
	height: 100%
}

.by-rotate .by-img {
	transform: rotate(-90deg)
}

#badge-by {
	z-index: 2;
	opacity: 0
}

#design-by-wrap,
#illustrations-by-wrap {
	opacity: 0
}

html {
	font-family: SuisseIntl;
	font-size: 16px;
	cursor: default;
	background: #1e0f21;
	color: #fff
}

#app {
	position: fixed
}

#app,
#gl {
	top: 0;
	left: 0;
	width: 100vw
}

#gl {
	position: absolute;
	height: 100vh
}

.line-wrap {
	position: relative
}

.line {
	overflow: hidden
}

.line,
.line span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.line-cyan span {
	border-bottom: 2px solid #33f6f3
}

.line-pink span {
	border-bottom: 1px solid #dccaf0
}

.line-white span {
}

.line-0 span:first-child {
	transition: transform 1s cubic-bezier(.23, 1, .32, 1) .2s
}

.line-0 span:last-child {
	transform: translateX(-102%);
	transition: transform 1s cubic-bezier(.23, 1, .32, 1)
}

.is-desktop .line-wrap:hover .line-0 span:first-child {
	transform: translateX(102%);
	transition: transform 1s cubic-bezier(.23, 1, .32, 1)
}

.is-desktop .line-wrap:hover .line-0 span:last-child {
	transform: translateX(0);
	transition: transform 1s cubic-bezier(.23, 1, .32, 1) .2s
}

.line-1 span:first-child {
	transform: translateX(-102%);
	opacity: 0
}

.line-1 span:last-child {
	transition: transform 1.2s cubic-bezier(.23, 1, .32, 1);
	transform: translateX(102%);
	opacity: 1
}

.is-desktop .line-wrap:hover .line-1 span:first-child {
	transition: transform 1s cubic-bezier(.23, 1, .32, 1);
	transform: translateX(0);
	opacity: 1
}

.is-desktop .line-wrap:hover .line-1 span:last-child {
	transition: none;
	transform: translateX(0);
	opacity: 0
}

#loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#loader-txt {
	font-weight: 600;
	letter-spacing: .012em;
	color: #fff;
	font-family: 'Neucha', cursive;
	transform: translateZ(0)
}

#loader-txt div {
	opacity: 0
}

#loader-txt span {
	color: #33f6f3
}

#loader-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

#loader-bg-svg-path {
	fill: #1e0f21
}

.ticket {
	font-family: SuisseIntlMono
}

.ticket-btn {
	position: relative;
	width: 100%;
	background: #fff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

.ticket-btn-svg-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: #0d0d0d;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.ticket-btn-svg {
	fill: #e0e3f5;
}

.ticket-btn-name {
	position: relative;
	display: block;
	font-weight: 700;
	letter-spacing: .012em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	font-family: "Rubik Mono One", sans-serif;
    color: rgb(249, 132, 73);
	text-shadow: #000000 0px 0px 0px;
}

.ticket-btn-name span:first-child {
	float: left;
	color: #5f5d5d;
}

.ticket-btn-name span:last-child {
	position: absolute;
	top: 0;
	left: 0;
	color: #5f5d5d;
	transform: translate3d(0, -100%, 0)
}

.ticket-spot {
	letter-spacing: -.048em;
	text-align: center;
	font-family: 'Neucha', cursive;
	font-size: 1.4vw;
}

.ticket-spot .line-wrap {
	display: inline-block
}

#footer .ticket-spot {
	opacity: .4
}

.no {
	font-family: SuisseIntlMono;
	letter-spacing: .214em
}

.h2 {
	font-weight: 600;
	font-family: 'Neucha', cursive;
	
}

.h2,
.txt {
	letter-spacing: .012em
}

#debug {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 60px 0 0 60px;
	background: #c3dee0;
	line-height: 24px;
	font-size: 16px;
	color: #000
}

#debug ul {
	pointer-events: all
}

#p404 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 600;
	letter-spacing: .012em;
	font-size: 2.5vw;
	line-height: 3.28125vw
}

#p404 a {
	display: inline;
	color: #33f6f3
}

#header {
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#header-back-wrap {
	position: relative;
	z-index: -1;
	width: 100%;
	overflow: hidden
}

#header-back {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	will-change: transform
}

#header-front {
	z-index: 3
}

#header-badge,
#header-front,
#header-txt {
	position: absolute
}

#header-txt {
	font-weight: 600
}

#header-txt-title {
	opacity: 0
}

#header-txt-list,
#header-txt-title {
	letter-spacing: .012em
}

#header-ticket {
	opacity:0;
	position: absolute;
	z-index: 2;
	font-family: 'Neucha', cursive;
	text-shadow: #000000 5px 5px 5px;
}

#header-ticket-title {
	letter-spacing: .012em
}

#header-ticket-title,
#header-ticket-year {
	font-weight: 600;
	opacity: 0
}

#header-ticket-side {
	position: absolute;
	font-weight: 600;
	letter-spacing: .012em
}

#header-ticket-side div,
#header-ticket .ticket-btn,
#header-ticket .ticket-spot-wrap {
	opacity: 0
}

#s1 {
	opacity:0;
	position: relative;
	z-index: 2;
}

#s1-left {
	position: absolute;
	top: 0
}

#s1-left-title {
	font-weight: 600;
	letter-spacing: .012em
}

#s1-right {
	position: absolute
}

#s1-right-txt {
	opacity: .4;
	font-family: 'Neucha', cursive;
}

#s1-right-link {
	display: inline-block;
	color: #33f6f3
}

#s1-small-badge {
	position: absolute;
	opacity: .2
}

#s2 {
	opacity:0;
	background-image: url(/media/img/s2/bg@1x.png);
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat
}

#s2-txt {
	position: absolute
}

#dann {
			opacity:0;

	position: relative;
	z-index: 2;
	margin: -2px 0 0
}

#dann-petty {
	letter-spacing: .012em;
	font-weight: 600;
	opacity: .05
}

#dann-petty,
#dann-portrait {
	position: absolute
}

#dann-portrait-photo,
#dann-portrait-txt {
	position: absolute;
	top: 0;
	left: 0
}

#dann-left {
	position: absolute
}

#dann-left-intro {
	opacity: .4
}

#dann-left-stoked,
#dann-left-txt {
	font-weight: 600;
	letter-spacing: .012em
}

#dann-left-stoked {
	opacity: .27
}

#dann-right {
	position: absolute;
	opacity: .4
}

#activities {
				opacity:0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#activities-clouds,
#activities-girl,
#activities-left {
	position: absolute
}

#activities-left-icon-wrap {
	background: #3ad2d0;
	border-radius: 100%
}

#activities-left-icon {
	position: absolute
}

#activities-left-icon svg {
	fill: #fff
}

#activities-left-list {
	position: relative
}

#activities-left-list li {
	position: absolute;
	top: 0;
	left: 0
}

.activities-left-title {
	font-weight: 600;
	letter-spacing: .012em;
	opacity: 0
}

#activities-left-list li:first-child .activities-left-title {
	opacity: .24
}

#activities-left-list .txt {
	opacity: 0
}

#activities-left-list li:first-child .txt {
	opacity: .4
}

#activities-right {
	display: inline-block;
	position: absolute
}

.activities-right-link {
	float: left;
	clear: left;
	cursor: pointer;
	opacity: .15;
	transition: opacity 1.1s
}

.activities-right-icon {
	float: left;
	height: 100%;
	pointer-events: none
}

.activities-right-icon svg {
	fill: #33f6f3
}

.activities-right-name {
	float: left;
	font-weight: 600;
	color: #33f6f3;
	pointer-events: none
}

#activities-right.n0 li:first-child {
	opacity: 1
}

#activities-right.n0 li:nth-child(2) {
	opacity: .5
}

#activities-right.n0 li:nth-child(3) {
	opacity: .4
}

#activities-right.n0 li:nth-child(4) {
	opacity: .3
}

#activities-right.n0 li:nth-child(5) {
	opacity: .2
}

#activities-right.n1 li:first-child {
	opacity: .5
}

#activities-right.n1 li:nth-child(2) {
	opacity: 1
}

#activities-right.n1 li:nth-child(3) {
	opacity: .5
}

#activities-right.n1 li:nth-child(4) {
	opacity: .4
}

#activities-right.n1 li:nth-child(5) {
	opacity: .3
}

#activities-right.n1 li:nth-child(6) {
	opacity: .2
}

#activities-right.n2 li:first-child {
	opacity: .4
}

#activities-right.n2 li:nth-child(2) {
	opacity: .5
}

#activities-right.n2 li:nth-child(3) {
	opacity: 1
}

#activities-right.n2 li:nth-child(4) {
	opacity: .5
}

#activities-right.n2 li:nth-child(5) {
	opacity: .4
}

#activities-right.n2 li:nth-child(6),
#activities-right.n3 li:first-child {
	opacity: .3
}

#activities-right.n3 li:nth-child(2) {
	opacity: .4
}

#activities-right.n3 li:nth-child(3) {
	opacity: .5
}

#activities-right.n3 li:nth-child(4) {
	opacity: 1
}

#activities-right.n3 li:nth-child(5) {
	opacity: .5
}

#activities-right.n3 li:nth-child(6) {
	opacity: .4
}

#activities-right.n4 li:first-child {
	opacity: .2
}

#activities-right.n4 li:nth-child(2) {
	opacity: .3
}

#activities-right.n4 li:nth-child(3) {
	opacity: .4
}

#activities-right.n4 li:nth-child(4) {
	opacity: .5
}

#activities-right.n4 li:nth-child(5) {
	opacity: 1
}

#activities-right.n4 li:nth-child(6) {
	opacity: .5
}

#activities-right.n5 li:nth-child(2) {
	opacity: .2
}

#activities-right.n5 li:nth-child(3) {
	opacity: .3
}

#activities-right.n5 li:nth-child(4) {
	opacity: .4
}

#activities-right.n5 li:nth-child(5) {
	opacity: .5
}

#activities-right.n5 li:nth-child(6),
.is-desktop #activities-right.n0 li:hover,
.is-desktop #activities-right.n1 li:hover,
.is-desktop #activities-right.n2 li:hover,
.is-desktop #activities-right.n3 li:hover,
.is-desktop #activities-right.n4 li:hover,
.is-desktop #activities-right.n5 li:hover {
	opacity: 1
}

#s3 {
	opacity:0;
	position: relative;
	z-index: 2
}

#s3-bg-wrap {
	z-index: 1;
	width: 100%;
	overflow: hidden
}

#s3-bg,
#s3-bg-wrap {
	position: absolute
}

#s3-judges,
#s3-txt {
	position: absolute;
	z-index: 2;
	transform: translateZ(0)
}

#s3-judges {
	font-family: SuisseIntlMono;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#s3-judges-title {
	letter-spacing: .31em
}

.s3-judges-img {
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat
}

.is-desktop .s3-judges-img {
	visibility: hidden
}

#s3-judges-list li {
	text-align: center;
	letter-spacing: .2em
}

#s3-judges-list li:first-child .s3-judges-img {
	background-image: url(/media/img/s3/sarah0.jpg)
}

#s3-judges-list li:nth-child(2) .s3-judges-img {
	background-image: url(/media/img/s3/zhenya0.jpg)
}

#s3-judges-list li:last-child .s3-judges-img {
	background-image: url(/media/img/s3/pablo0.jpg)
}

.s3-judges-link {
	display: inline-block;
	opacity: .36;
	color: #dccaf0
}

#s4 {
		opacity:0;

	position: relative;
	background: #1e0f21
}

#s4-clouds-left {
	position: absolute;
	left: 0
}

#s4-clouds-right {
	right: 0
}

#s4-clouds-right,
#s4-fireplace,
#s4-left,
#s4-right {
	position: absolute
}

#s4-right {
	opacity: .3;
	columns: 2
}

#video {
		opacity: 0;

	height: 50vw;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#video-mp4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#video-bg-wrap {
	overflow: hidden
}

#video-bg,
#video-bg-wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

#video-bg {
	background-image: url(/media/img/video/bg-video.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	transform: scale(1.2);
	will-change: transform
}

#video-center,
#video-play {
	position: relative
}

#video-play {
	margin: auto;
	cursor: pointer
}

#video-play-circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none
}

#video-play-triangle-wrap {
	position: absolute;
	transition: opacity .4s cubic-bezier(.215, .61, .355, 1);
	opacity: .8
}

.is-desktop #video-play:hover #video-play-triangle-wrap {
	opacity: 1
}

#video-play-triangle {
	fill: #fff;
	pointer-events: none
}

#video-txt {
	font-family: SuisseIntlMono;
	letter-spacing: .5em
}

#video-control {
	bottom: 2.29167vw;
	left: 10vw;
	position: absolute;
	height: 2.5vw
}

#video-control-sound {
	position: relative;
	float: left;
	width: 2.5vw;
	height: 100%;
	cursor: pointer
}

#video-control-sound-off,
#video-control-sound-on {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none
}

#video-control-sound-on {
	opacity: 0
}

#video-control-sound-off svg,
#video-control-sound-on svg {
	width: 100%;
	height: 100%;
	fill: #fff
}

#video-control-sound.on #video-control-sound-off {
	opacity: 0
}

#video-control-sound.on #video-control-sound-on {
	opacity: 1
}

#video-control-time {
	float: left;
	line-height: 2.5vw;
	margin: 0 0 0 1.04167vw;
	font-family: SuisseIntlMono;
	font-size: 0.83333vw;
	color: #fff
}

#video-control-time-curr,
#video-control-time-total {
	float: left
}

#sponsors {
	opacity:0;
	background: #1e0f21
}

#sponsors-txt {
	font-weight: 600;
	opacity: .2
}

#sponsors-logo {
	position: absolute;
	transition: opacity .6s
}

.is-desktop #sponsors-logo:hover {
	opacity: .6
}

#sponsors-small-badge {
	position: absolute;
	opacity: .2
}

#footer {
		opacity:0;

	background: #1e0f21
}

#footer-txt {
	position: absolute;
	font-weight: 600
}

#footer-txt-bottom {
	opacity: .3
}

#footer-links {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 600
}

#footer-links,
#footer-logo,
#footer .ticket {
	position: absolute
}

@media (max-width:740px) and (max-height:450px),
(min-width:741px) {
	.by,
	.by-wrap {
		height: 2.39583vw
	}
	.by {
		line-height: 2.39583vw
	}
	.by-rotate {
		top: -2.39583vw
	}
	.by-name {
		font-size: 1.04167vw
	}
	.by-img {
		margin: 0 0 0 1.14583vw
	}
	#badge-by {
		z-index: 4;
		top: 36.66667vw;
		left: 44.89583vw
	}
	#design-by-wrap {
		top: 36.92708vw;
		left: 94.79167vw;
		width: 22.39583vw
	}
	#illustrations-by-wrap {
		top: 41.66667vw;
		left: 2.8125vw;
		width: 22.39583vw
	}
	#dev-by-wrap {
		top: 61.45833vw;
		left: 94.79167vw;
		width: 22.39583vw
	}
	#management-by-wrap {
		top: 36.45833vw;
		left: 94.79167vw;
		width: 22.39583vw
	}
	#direction-by-wrap {
		top: 42.70833vw;
		left: 2.8125vw;
		width: 22.39583vw
	}
	#loader-txt {
		font-size: 2.5vw;
		line-height: 3.28125vw
	}
	.ticket {
		width: 20.83333vw
	}
	.ticket-btn {
		height: 4.16667vw
	}
	.ticket-btn-name {
		margin: 0.10417vw 0 0;
		font-size: 1.25vw
	}
	.ticket-spot {
		height: 3.95833vw;
		line-height: 1.71875vw;
		font-size: 1.4167vw
	}
	#header-ticket .ticket {
		margin: 1.14583vw 0 0
	}
	#header-ticket .ticket-spot {
		margin: 1.14583vw 0 0;
		opacity: .5
	}
	#footer .ticket-spot {
		margin: 0 0 1.97917vw
	}
	.no {
		font-size: 0.9375vw
	}
	.h2 {
		margin: 2.8125vw 0 0;
		font-size: 3.33333vw;
		line-height: 4.27083vw
	}
	.txt {
		font-size: 1.5vw;
		line-height: 1.97917vw
	}
	#header {
		height: 69.32292vw
	}
	#header-back-wrap {
		height: 53.125vw
	}
	#header-back {
		background-position: 50%;
		background-image: url(/media/img/header/back-desktop@1x.jpg)
	}
	#header-stones {
		position: absolute;
		top: 42.08333vw;
		left: 0;
		width: 100%
	}
	#header-front {
		top: 35.3125vw;
		left: calc(52.65% - 65.98958333333333vw / 2);
		width: 65.98958vw
	}
	#header-logo {
		position: absolute;
		opacity: 0;
		top: 1.35417vw;
		left: 3.95833vw;
		width: 10vw
	}
	#header-badge {
		top: 12.13542vw;
		left: calc(50% - 29.895833333333332vw / 2);
		width: 29.89583vw
	}
	#header-txt {
		top: 14.16667vw;
		left: 4.42708vw
	}
	#header-txt-title {
		font-size: 1.66667vw
	}
	#header-txt-list {
		margin: 0.78125vw 0 0;
		font-size: 3.125vw;
		line-height: 3.59375vw;
		font-family: 'Rubik Mono One', sans-serif;
		color: #f98449;
		text-shadow: #000000 5px 5px 5px;
	}
	.header-txt-list-li {
		opacity: 0
	}
	#header-ticket {
		top: 16.66667vw;
		left: 67.96875vw
	}
	#header-ticket-title {
		font-size: 2.60417vw
	}
	#header-ticket-year {
		margin: -0.41667vw 0 0;
		font-size: 3.64583vw
	}
	#header-ticket-side {
		top: 3.59375vw;
		left: 9.11458vw;
		font-size: 1.25vw;
		line-height: 1.66667vw
	}
	#s1 {
		height: 52.08333vw;
		
	}
	#s1-left {
		left: 10vw;
		width: 52.60417vw
	}
	#s1-left-title {
		margin: 2.8125vw 0 0;
		font-size: 3.33333vw;
		line-height: 4.27083vw
	}
	#s1-right {
		top: 5.98958vw;
		left: 68.64583vw;
		width: 24.375vw
	}
	#s1-right-link {
		margin: 3.64583vw 0 0;
		line-height: 4.0625vw
	}
	#s1-small-badge {
		bottom: 1.04167vw;
		left: 17.08333vw;
		width: 13.54167vw
	}
	#s2 {
		margin: -10.41667vw 0 0;
		height: 84.375vw
	}
	#s2-txt {
		top: 41.66667vw;
		left: 10vw
	}
	#s2-txt-p {
		margin: 2.55208vw 0 0;
		width: 23.95833vw;
		font-family: 'Neucha', cursive;
	}
	#dann {
				opacity:0;

		height: 61.30208vw
	}
	#dann-petty {
		right: 0;
		bottom: -18.75vw;
		font-size: 11.14583vw;
		line-height: 10.26042vw
	}
	#dann-portrait {
		top: 27.60417vw;
		left: 42.29167vw;
		width: 20vw;
		height: 20vw
	}
	#dann-left {
		top: 3.48958vw;
		left: 10vw;
		width: 52.08333vw
	}
	#dann-left-txt {
		margin: 2.34375vw 0 0;
		font-size: 2.55208vw;
		line-height: 4.27083vw
	}
	#dann-left-stoked {
		margin: 6.25vw 0 0;
		font-size: 3.33333vw;
		line-height: 4.27083vw
	}
	#dann-left-sign {
		margin: 4.6875vw 0 0;
		width: 14.47917vw
	}
	#dann-right {
		top: 13.54167vw;
		left: 67.34375vw;
		width: 26.5625vw
	}
	#activities {
		margin: -5.20833vw 0 0;
		height: 70.46875vw
	}
	#activities-girl {
		bottom: 15.625vw;
		left: 21.14583vw;
		width: 39.0625vw
	}
	#activities-clouds {
		left: 0;
		width: 52.1875vw
	}
	#activities-right {
		left: 53.90625vw;
		top: 21.875vw
	}
	.activities-right-link {
		margin: 0 0 1.51042vw;
		height: 4.16667vw;
		line-height: 4.16667vw
	}
	.activities-right-icon {
		width: 1.25vw
	}
	.activities-right-name {
		padding: 0 0 0 2.23958vw;
		font-size: 3.75vw
	}
	#activities-left {
		top: 22.34375vw;
		left: 10vw
	}
	#activities-left-icon-wrap {
		width: 4.79167vw;
		height: 4.79167vw
	}
	#activities-left-icon {
		top: 1.45833vw;
		left: 1.45833vw;
		width: 1.875vw;
		height: 1.875vw
	}
	#activities-left-list {
		margin: 2.23958vw 0 0
	}
	#activities-left-list li {
		width: 26.04167vw
	}
	.activities-left-title {
		font-size: 3.33333vw;
		line-height: 3.80208vw
	}
	#activities-left-list .txt.first {
		margin: 2.23958vw 0 0
	}
	#s3 {
		height: 85.9375vw
	}
	#s3-bg-wrap {
		height: 54.94792vw
	}
	#s3-bg {
		top: -40.625vw;
		left: 0;
		width: 100%
	}
	#s3-txt {
		top: 4.47917vw;
		left: 10vw
	}
	#s3-txt-p {
		margin: 2.55208vw 0 0;
		width: 29.16667vw;
		opacity: .68
	}
	#s3-judges {
		top: 41.35417vw;
		left: calc(50% - 94.375vw / 2);
		width: 94.375vw
	}
	#s3-judges-title {
		margin: 0 0 0 6.875vw;
		font-size: 1.14583vw
	}
	#s3-judges-list {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 4.01042vw 0 0
	}
	#s3-judges-list li {
		width: 28.33333vw
	}
	.s3-judges-img {
		height: 27.08333vw
	}
	.s3-judges-name {
		margin: 2.03125vw 0 0;
		font-size: 1.25vw
	}
	.s3-judges-link {
		margin: 1.45833vw 0 0;
		font-size: 0.72917vw;
		line-height: 2.08333vw
	}
	#gl {
		position: absolute;
		z-index: 2;
		top: 46.875vw;
		left: 0;
		width: 100vw;
		height: 27.08333vw
	}
	#s4 {
		margin: -15.625vw 0 0;
		height: 72.39583vw
	}
	#s4-clouds-left {
		top: -10.41667vw;
		width: 29.16667vw
	}
	#s4-clouds-right {
		top: -35.41667vw;
		width: 20.10417vw
	}
	#s4-fireplace {
		top: 19.27083vw;
		left: 12.5vw;
		width: 78.125vw
	}
	#s4-left {
		bottom: 8.85417vw;
		left: 10vw
	}
	#s4-right {
		bottom: 9.16667vw;
		left: 42.39583vw;
		width: 46.875vw;
		column-gap: 3.64583vw
	}
	#video-play {
		width: 11.97917vw;
		height: 11.97917vw
	}
	#video-play-triangle-wrap {
		top: 5.20833vw;
		left: 5.52083vw;
		width: 1.19792vw;
		height: 1.5625vw
	}
	#video-txt {
		margin: 2.5vw 0 0;
		font-size: 1.25vw
	}
	#sponsors {
		height: 57.60417vw
	}
	#sponsors-txt {
		padding: 11.14583vw 0 0;
		font-size: 10.41667vw;
		line-height: 11.45833vw
	}
	#sponsors-logo {
		top: 24.27083vw;
		left: 49.94792vw;
		width: 22.65625vw
	}
	#sponsors-small-badge {
		top: 56.25vw;
		left: 6.66667vw;
		width: 13.54167vw
	}
	#footer {
		height: 42.29167vw
	}
	#footer-txt {
		top: 10.05208vw;
		left: 4.42708vw;
		font-size: 4.0625vw;
		line-height: 4.27083vw
	}
	#footer-txt-bottom {
		margin: 1.45833vw 0 0
	}
	#footer-links {
		bottom: 3.64583vw;
		left: 4.42708vw;
		width: 35.88542vw;
		font-size: 0.83333vw;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	#footer-logo {
		bottom: 3.64583vw;
		right: 4.42708vw;
		width: 5.78125vw
	}
	#footer .ticket {
		right: 4.42708vw;
		bottom: 14.58333vw
	}
}

@media (max-width:740px) and (min-height:451px) {
	.by,
	.by-wrap {
		height: 6.25vw
	}
	.by {
		line-height: 6.25vw
	}
	.by-rotate {
		top: -6.25vw
	}
	.by-name {
		font-size: 3.125vw
	}
	.by-img {
		margin: 0 0 0 4.375vw
	}
	#badge-by {
		top: 76.25vw;
		left: 33.4375vw
	}
	#design-by-wrap {
		z-index: 4;
		top: 184.375vw;
		left: 89.6875vw;
		width: 131.25vw
	}
	#illustrations-by-wrap {
		z-index: 4;
		top: 175vw;
		left: 1.875vw;
		width: 131.25vw
	}
	#dev-by-wrap {
		top: 112.5vw;
		left: 1.875vw;
		width: 131.25vw
	}
	#management-by-wrap {
		top: 231.25vw;
		left: 1.875vw;
		width: 131.25vw
	}
	#direction-by-wrap {
		top: 131.25vw;
		left: 89.6875vw;
		width: 131.25vw
	}
	#loader-txt {
		font-size: 7.8125vw;
		line-height: 9.84375vw
	}
	.ticket {
		width: 85.3125vw
	}
	.ticket-btn {
		height: 17.1875vw
	}
	.ticket-btn-name {
		margin: 0.9375vw 0 0;
		font-size: 4.375vw
	}
	.ticket-spot {
		line-height: 6.25vw;
		font-size: 3.75vw
	}
	#header-ticket .ticket {
		margin: 2.1875vw 0 0
	}
	#header-ticket .ticket-spot {
		margin: 5vw 0 0;
		opacity: .8
	}
	#footer .ticket-spot {
		margin: 0 0 6.25vw
	}
	.no {
		font-size: 3.75vw
	}
	.h2 {
		margin: 6.875vw 0 0;
		font-size: 8.75vw;
		line-height: 10.625vw
	}
	.txt {
		font-size: 3.75vw;
		line-height: 6.5625vw
	}
	#header-logo,
	#header-stones,
	#header-txt-list {
		display: none
	}
	#header {
		height: 240vw
	}
	#header-back-wrap {
		height: 206vw
	}
	#header-back {
		background-position: bottom;
		background-image: url(/media/img/header/back-mobile@2x.jpg)
	}
	#header-txt {
		top: 7vw;
		left: 0;
		width: 100%
	}
	#header-txt-title {
		font-size: 5.5vw;
		text-align: center
	}
	#header-badge {
		top: 15vw;
		left: calc(50% - 37vw);
		width: 74vw
	}
	#header-ticket {
		top: 94vw;
		left: 6.5625vw
	}
	#header-ticket-title {
		font-size: 8.75vw
	}
	#header-ticket-year {
		margin: -0.41667vw 0 0;
		font-size: 15vw
	}
	#header-ticket-side {
		top: 14.5vw;
		left: 36vw;
		font-size: 4.375vw;
		line-height: 6.25vw
	}
	#header-front {
		top: 180vw;
		left: 2.8125vw;
		width: 100%
	}
	#s1 {
		height: 221.875vw
	}
	#s1-left {
		left: 6.5625vw;
		width: calc(100% - 13.125vw)
	}
	#s1-left .h2 {
		font-size: 5.40625vw;
		line-height: 8.125vw
	}
	#s1-left-title {
		margin: 16.875vw 0 0;
		font-size: 5.625vw;
		line-height: 8.125vw
	}
	#s1-right {
		top: 68.75vw;
		left: 6.5625vw;
		width: calc(100% - 13.125vw)
	}
	#s1-right-link {
		margin: 6.25vw 0 0;
		line-height: 12.5vw
	}
	#s1-small-badge {
		bottom: 31.25vw;
		left: 12.5vw;
		width: 31.25vw
	}
	#s2 {
		margin: -62.5vw 0 0;
		height: 187.5vw
	}
	#s2-txt {
		top: 100vw;
		left: 6.5625vw
	}
	#s2-txt-p {
		margin: 8.4375vw 0 0;
		width: calc(100% - 13.125vw)
	}
	#dann {
		height: 306.25vw
	}
	#dann-left {
		top: 3.125vw;
		left: 6.5625vw;
		width: calc(100% - 13.125vw)
	}
	#dann-left-txt {
		margin: 6.875vw 0 0;
		font-size: 5.625vw;
		line-height: 8.125vw
	}
	#dann-right {
		top: 106.25vw;
		left: 6.5625vw;
		width: calc(100% - 13.125vw)
	}
	#dann-left-stoked {
		margin: 81.25vw 0 0;
		font-size: 11.875vw;
		line-height: 13.75vw
	}
	#dann-left-sign {
		margin: 11.25vw 0 0;
		width: 35vw
	}
	#dann-portrait {
		top: 173.4375vw;
		left: 50.625vw;
		width: 43.125vw;
		height: 43.125vw
	}
	#dann-petty {
		right: 0;
		top: 325vw;
		font-size: 20.3125vw
	}
	#activities-clouds {
		top: 2.60417vw
	}
	#activities {
		height: 168.75vw
	}
	#activities-girl {
		bottom: 31.25vw;
		left: 6.5625vw;
		width: 78.125vw
	}
	#activities-clouds {
		display: none
	}
	#activities-right {
		top: 0;
		left: 15.625vw
	}
	.activities-right-link {
		height: 10vw;
		line-height: 10vw
	}
	.activities-right-icon {
		width: 4.375vw
	}
	.activities-right-name {
		padding: 0 0 0 9.375vw;
		font-size: 7.1875vw
	}
	#activities-left {
		top: 75vw;
		left: 15.625vw
	}
	#activities-left-icon-wrap {
		width: 12.5vw;
		height: 12.5vw
	}
	#activities-left-icon {
		top: 3.125vw;
		left: 3.125vw;
		width: 6.25vw;
		height: 6.25vw
	}
	#activities-left-list {
		margin: 6.25vw 0 0
	}
	#activities-left-list li {
		width: 156.25vw
	}
	.activities-left-title {
		font-size: 8.125vw;
		line-height: 9.375vw
	}
	#activities-left-list .txt.first {
		margin: 4.6875vw 0 0
	}
	#s3 {
		height: 531.25vw
	}
	#s3-bg-wrap {
		height: 178.125vw
	}
	#s3-bg {
		top: -122vw;
		left: -168vw;
		width: 350%
	}
	#s3-txt {
		top: 21.875vw;
		left: 6.5625vw
	}
	#s3-txt-p {
		margin: 15.3125vw 0 0
	}
	#s3-judges,
	#s3-txt-p {
		width: calc(100% - 13.125vw)
	}
	#s3-judges {
		top: 154.375vw;
		left: 6.5625vw
	}
	#s3-judges-title {
		text-align: center;
		font-size: 4.375vw
	}
	#s3-judges-list li {
		margin: 15.625vw 0 0;
		width: 100%
	}
	#s3-judges-list li:first-child {
		margin: 9.375vw 0 0
	}
	.s3-judges-img {
		height: 81.5625vw
	}
	.s3-judges-name {
		margin: 6.875vw 0 0;
		font-size: 3.75vw
	}
	.s3-judges-link {
		margin: 3.4375vw 0 0;
		font-size: 3.125vw;
		line-height: 7.8125vw
	}
	#gl {
		display: none
	}
	#s4 {
		height: 162.5vw
	}
	#s4-clouds-left,
	#s4-clouds-right {
		display: none
	}
	#s4-fireplace {
		top: 6.25vw;
		left: -1.5625vw;
		width: 109vw
	}
	#s4-left {
		top: 59.375vw;
		left: 6.5625vw
	}
	#s4-right {
		top: 100vw;
		left: 6.5625vw;
		width: calc(100% - 13.125vw)
	}
	#video-control,
	#video-play-circle {
		display: none
	}
	#video-play {
		width: 21.875vw;
		height: 21.875vw
	}
	#video-play:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid #fff;
		border-radius: 100%;
		opacity: .2
	}
	#video-play-triangle-wrap {
		top: 9.375vw;
		left: 10.3125vw;
		width: 2.8125vw
	}
	#video-txt {
		margin: 4.6875vw 0 0;
		font-size: 2.8125vw
	}
	#sponsors {
		height: 100vw
	}
	#sponsors-txt {
		padding: 31.25vw 0 0;
		font-size: 10.9375vw;
		line-height: 15vw
	}
	#sponsors-logo {
		top: 49.375vw;
		left: 54.375vw;
		width: 24.0625vw
	}
	#sponsors-small-badge {
		top: 175vw;
		left: 12.5vw;
		width: 31.25vw
	}
	#footer {
		height: 187.5vw
	}
	#footer-txt {
		top: 15vw;
		left: 6.5625vw;
		width: calc(100% - 13.125vw);
		font-size: 11.875vw;
		line-height: 13.75vw
	}
	#footer-txt-bottom {
		margin: 5.625vw 0 0;
		font-size: 6.875vw;
		line-height: 8.75vw
	}
	#footer .ticket {
		top: 90.625vw;
		left: 6.5625vw
	}
	#footer-links {
		bottom: 7.5vw;
		left: 6.5625vw;
		width: 215.3125vw;
		font-size: 3.75vw;
		line-height: 10vw
	}
	#footer-logo {
		bottom: 9.375vw;
		right: 7.5vw;
		width: 17.5vw
	}
}

@media (min-width:1001px) {
	.is-desktop #activities-clouds {
		top: -26.04167vw
	}
}

@media (min-width:1001px) and (max-height:1200px) {
	.is-mobile #activities-clouds {
		top: -26.04167vw
	}
}

@media (min-width:1001px) and (min-height:1201px) {
	.is-mobile #activities-clouds {
		top: -18.22917vw
	}
}

@media (min-width:741px) and (max-width:1000px) and (min-height:451px) {
	#activities-clouds {
		top: -18.22917vw
	}
}

@media (max-width:1000px) and (max-height:450px) {
	#activities-clouds {
		top: -18.22917vw
	}
}